ExelareJobsWidget/Service References/svcItemsMgr/svcItemsMgr3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CBS.ClassLib" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CBS.ClassLib" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="dcException">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorNum" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="dcException" nillable="true" type="tns:dcException" />
  <xs:complexType name="dcFile">
    <xs:sequence>
      <xs:element minOccurs="0" name="CD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ED" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileContents" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PKFieldValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="dcFile" nillable="true" type="tns:dcFile" />
</xs:schema>