ExelareJobsWidget/Service References/svcDataMgr/svcDataMgr1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CBS.ClassLib" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CBS.ClassLib" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfdcReportReq">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="dcReportReq" nillable="true" type="tns:dcReportReq" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfdcReportReq" nillable="true" type="tns:ArrayOfdcReportReq" />
  <xs:complexType name="dcReportReq">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EntityID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FilterBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NeedData" type="xs:boolean" />
      <xs:element minOccurs="0" name="NeedRecordCount" type="xs:boolean" />
      <xs:element minOccurs="0" name="NeedSchema" type="xs:boolean" />
      <xs:element minOccurs="0" name="OrderBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PageNumber" type="xs:int" />
      <xs:element minOccurs="0" name="PageSize" type="xs:int" />
      <xs:element minOccurs="0" name="ReportID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubReportID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="dcReportReq" nillable="true" type="tns:dcReportReq" />
  <xs:complexType name="ArrayOfdcReportResp">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="dcReportResp" nillable="true" type="tns:dcReportResp" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfdcReportResp" nillable="true" type="tns:ArrayOfdcReportResp" />
  <xs:complexType name="dcReportResp">
    <xs:sequence>
      <xs:element minOccurs="0" name="DebugInfo" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="HasMorePages" type="xs:boolean" />
      <xs:element minOccurs="0" name="PageNumber" type="xs:int" />
      <xs:element minOccurs="0" name="RecordCount" type="xs:int" />
      <xs:element minOccurs="0" name="RecordSet" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Schema" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="dcReportResp" nillable="true" type="tns:dcReportResp" />
  <xs:complexType name="dcException">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorNum" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="dcException" nillable="true" type="tns:dcException" />
  <xs:complexType name="dcDataReq">
    <xs:sequence>
      <xs:element minOccurs="0" name="EntityID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FSMaxSearchCount" type="xs:int" />
      <xs:element minOccurs="0" name="FilterBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsFacetedSearch" type="xs:boolean" />
      <xs:element minOccurs="0" name="NeedData" type="xs:boolean" />
      <xs:element minOccurs="0" name="NeedRecordCount" type="xs:boolean" />
      <xs:element minOccurs="0" name="NeedSchema" type="xs:boolean" />
      <xs:element minOccurs="0" name="NeedStyleMap" type="xs:boolean" />
      <xs:element minOccurs="0" name="OrderBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PKColumnOnly" type="xs:boolean" />
      <xs:element minOccurs="0" name="PageNumber" type="xs:int" />
      <xs:element minOccurs="0" name="PageSize" type="xs:int" />
      <xs:element minOccurs="0" name="SelectFields" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SelectedIntID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Which" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WhichID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="dcDataReq" nillable="true" type="tns:dcDataReq" />
  <xs:complexType name="dcDataResp">
    <xs:sequence>
      <xs:element minOccurs="0" name="DebugInfo" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="FacetResults" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="HasMorePages" type="xs:boolean" />
      <xs:element minOccurs="0" name="PageNumber" type="xs:int" />
      <xs:element minOccurs="0" name="RecordCount" type="xs:int" />
      <xs:element minOccurs="0" name="RecordSet" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Schema" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="StyleMap" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="dcDataResp" nillable="true" type="tns:dcDataResp" />
</xs:schema>