ExelareJobsWidget/Service References/svcDataMgr/svcDataMgr.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="svcDataMgr" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://apps.exelare.com/CBSWS/svcDataMgr.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://apps.exelare.com/CBSWS/svcDataMgr.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CBS.ClassLib" />
      <xsd:import schemaLocation="http://apps.exelare.com/CBSWS/svcDataMgr.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISvcDataMgr_GetReport_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReport" />
  </wsdl:message>
  <wsdl:message name="ISvcDataMgr_GetReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReportResponse" />
  </wsdl:message>
  <wsdl:message name="ISvcDataMgr_GetReport_dcExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/CBS.ClassLib" name="detail" element="q1:dcException" />
  </wsdl:message>
  <wsdl:message name="ISvcDataMgr_GetSubReport_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSubReport" />
  </wsdl:message>
  <wsdl:message name="ISvcDataMgr_GetSubReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSubReportResponse" />
  </wsdl:message>
  <wsdl:message name="ISvcDataMgr_GetSubReport_dcExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/CBS.ClassLib" name="detail" element="q2:dcException" />
  </wsdl:message>
  <wsdl:message name="ISvcDataMgr_GetSubReportAsCSV_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSubReportAsCSV" />
  </wsdl:message>
  <wsdl:message name="ISvcDataMgr_GetSubReportAsCSV_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSubReportAsCSVResponse" />
  </wsdl:message>
  <wsdl:message name="ISvcDataMgr_GetSubReportAsCSV_dcExceptionFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/CBS.ClassLib" name="detail" element="q3:dcException" />
  </wsdl:message>
  <wsdl:message name="ISvcDataMgr_GetPageAsCSV_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPageAsCSV" />
  </wsdl:message>
  <wsdl:message name="ISvcDataMgr_GetPageAsCSV_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPageAsCSVResponse" />
  </wsdl:message>
  <wsdl:message name="ISvcDataMgr_GetPageAsCSV_dcExceptionFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/CBS.ClassLib" name="detail" element="q4:dcException" />
  </wsdl:message>
  <wsdl:message name="ISvcDataMgr_GetPage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPage" />
  </wsdl:message>
  <wsdl:message name="ISvcDataMgr_GetPage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPageResponse" />
  </wsdl:message>
  <wsdl:message name="ISvcDataMgr_GetPage_dcExceptionFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/CBS.ClassLib" name="detail" element="q5:dcException" />
  </wsdl:message>
  <wsdl:portType name="ISvcDataMgr">
    <wsdl:operation name="GetReport">
      <wsdl:input wsaw:Action="http://tempuri.org/ISvcDataMgr/GetReport" message="tns:ISvcDataMgr_GetReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISvcDataMgr/GetReportResponse" message="tns:ISvcDataMgr_GetReport_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ISvcDataMgr/GetReportdcExceptionFault" name="dcExceptionFault" message="tns:ISvcDataMgr_GetReport_dcExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSubReport">
      <wsdl:input wsaw:Action="http://tempuri.org/ISvcDataMgr/GetSubReport" message="tns:ISvcDataMgr_GetSubReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISvcDataMgr/GetSubReportResponse" message="tns:ISvcDataMgr_GetSubReport_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ISvcDataMgr/GetSubReportdcExceptionFault" name="dcExceptionFault" message="tns:ISvcDataMgr_GetSubReport_dcExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSubReportAsCSV">
      <wsdl:input wsaw:Action="http://tempuri.org/ISvcDataMgr/GetSubReportAsCSV" message="tns:ISvcDataMgr_GetSubReportAsCSV_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISvcDataMgr/GetSubReportAsCSVResponse" message="tns:ISvcDataMgr_GetSubReportAsCSV_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ISvcDataMgr/GetSubReportAsCSVdcExceptionFault" name="dcExceptionFault" message="tns:ISvcDataMgr_GetSubReportAsCSV_dcExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPageAsCSV">
      <wsdl:input wsaw:Action="http://tempuri.org/ISvcDataMgr/GetPageAsCSV" message="tns:ISvcDataMgr_GetPageAsCSV_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISvcDataMgr/GetPageAsCSVResponse" message="tns:ISvcDataMgr_GetPageAsCSV_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ISvcDataMgr/GetPageAsCSVdcExceptionFault" name="dcExceptionFault" message="tns:ISvcDataMgr_GetPageAsCSV_dcExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPage">
      <wsdl:input wsaw:Action="http://tempuri.org/ISvcDataMgr/GetPage" message="tns:ISvcDataMgr_GetPage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISvcDataMgr/GetPageResponse" message="tns:ISvcDataMgr_GetPage_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ISvcDataMgr/GetPagedcExceptionFault" name="dcExceptionFault" message="tns:ISvcDataMgr_GetPage_dcExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISvcDataMgr" type="tns:ISvcDataMgr">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetReport">
      <soap:operation soapAction="http://tempuri.org/ISvcDataMgr/GetReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="dcExceptionFault">
        <soap:fault use="literal" name="dcExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetSubReport">
      <soap:operation soapAction="http://tempuri.org/ISvcDataMgr/GetSubReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="dcExceptionFault">
        <soap:fault use="literal" name="dcExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetSubReportAsCSV">
      <soap:operation soapAction="http://tempuri.org/ISvcDataMgr/GetSubReportAsCSV" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="dcExceptionFault">
        <soap:fault use="literal" name="dcExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetPageAsCSV">
      <soap:operation soapAction="http://tempuri.org/ISvcDataMgr/GetPageAsCSV" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="dcExceptionFault">
        <soap:fault use="literal" name="dcExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetPage">
      <soap:operation soapAction="http://tempuri.org/ISvcDataMgr/GetPage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="dcExceptionFault">
        <soap:fault use="literal" name="dcExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="svcDataMgr">
    <wsdl:port name="BasicHttpBinding_ISvcDataMgr" binding="tns:BasicHttpBinding_ISvcDataMgr">
      <soap:address location="http://apps.exelare.com/CBSWS/svcDataMgr.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>